.feed {
    flex: 4;
}
.feed .feedWrapper {
    padding: 40px;
}
@media only screen and (max-width: 992px){
    .feed{
        width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    .feed .feedWrapper {
        padding: 5px;
    }
}