.profile .profileWrapper {
    display: flex;
}

.profile .profileWrapper .profileRight {
    flex: 10;
}

.profile .profileWrapper .profileRight .profileCover {
    height: 320px;
    position: relative;
}

.profile .profileWrapper .profileRight .profileCover .profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile .profileWrapper .profileRight .profileCover .profileUserImg {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    object-fit: cover;
    border: 3px solid white;
}

.profile .profileWrapper .profileRight .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .profileWrapper .profileRight .profileInfo .profileInfoName {
    font-size: 24px;
}

.profile .profileWrapper .profileRight .profileInfo .profileInfoDesc {
    font-weight: 300;
}

.profile .profileWrapper .profileRight .profileRightBottom {
    display: flex;
}