.editProfileWrapper {
    display: flex;
}

.editProfileWrapper .profileRight {
    flex: 10;
}

.editProfile .editProfileWrapper .profileRight .profileCover {
    display: flex;
    align-items: center;
    padding: 16px;
    /* border-bottom: 1px solid black; */
    gap: 30px;
}

.editProfile .editProfileWrapper .profileRight .profileCover .profileUserImg {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 30px;
    object-fit: cover;
    border: 3px solid white;
}

.editProfile .editProfileWrapper .profileRight .profileCover .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.editProfile .editProfileWrapper .profileRight .profileInfo .profileInfoName {
    font-size: 24px;
}

.editProfile .editProfileWrapper .profileRight .profileInfo .profileInfoDesc {
    font-weight: 300;
}

.editProfile .editProfileWrapper .profileRight .profileInfo .followInfo {
    display: flex;
    gap: 13px;
}

.editProfileWrapper .profileRight .editprofileRightBottom {
    display: flex;
    flex-direction: column;
}

.editProfileWrapper .profileRight .editprofileRightBottom .top {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    margin: 20px;
    padding: 10px;
    display: flex;
}

.editProfileWrapper .profileRight .editprofileRightBottom .top h1 {
    color: #666;
    font-size: 20px;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    margin: 20px;
    padding: 10px;
    display: flex;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .left {
    flex: 1;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px 0 40px 40px;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right {
    flex: 2;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput {
    width: 70%;
    margin-top: 10px;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput label .icon {
    cursor: pointer;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput input {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput input:focus {
    outline: none;
}

 .updateButton {
    background-color: #920b44;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 150px;
    border: none;
    cursor: pointer;
}

 .updateButton:hover {
    background-color: #be185d;
}

@media only screen and (max-width: 768px) {
    .editProfile .editProfileWrapper .profileRight .profileCover {
        flex-direction: column;
    }

    .editProfileWrapper .profileRight .editprofileRightBottom .bottom .left img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .editProfileWrapper .profileRight .editprofileRightBottom .bottom .right {
        flex: 2;
    }

    .editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .editProfileWrapper .profileRight .editprofileRightBottom .bottom .left img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .editProfileWrapper .profileRight .editprofileRightBottom .bottom .right form .formInput {
        width: 90%;
    }
}