.share {
    width: 100%;
    height: 170%;
    border-radius: 7px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: white;
}

.share .shareWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.share .shareWrapper .shareTop {
    display: flex;
    align-items: center;
}

.share .shareWrapper .shareTop .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.share .shareWrapper .shareTop .shareInput {
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 80%;
}

.share .shareWrapper .shareTop .shareInput:focus {
    outline: none;
}

.share .shareWrapper .shareHr {
    margin: 20px;
}

.share .shareWrapper .shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
}

.share .shareWrapper .shareImgContainer .shareImg {
    width: 100% !important;
    object-fit: contain;
}

.share .shareWrapper .shareImgContainer .shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.share .shareWrapper .shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share .shareWrapper .shareBottom .shareOptions {
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: space-around;
    width: 90%;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption .shareIcon {
    font-size: 30px;
    margin-right: 10px;
}

.share .shareWrapper .shareBottom .shareOptions .shareOption .shareOptionText {
    font-size: 14px;
    font-weight: 600;
}
.shareBtn{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    padding: 2px 8px;
}