.menuLink {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    color: #707070;
}

.menuLink .menuLinkText {
    margin-left: 10px;
    margin-right: 5px;
}

.menuLink .menuLinkTextName {
    font-weight: 700;
    font-size: 18px;
}

.menuLink:hover {
    background-color: #ffabcc;
    color: white;
    /* color: #be185d;; */
}

@media only screen and (max-width: 992px) {
    .menuLink .menuLinkTextName {
        display: none;
    }
}