.navbarContainer {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 5px 0px #111;
}

.navbarContainer .navbarLeft {
    flex: 3;
}

.navbarContainer .navbarLeft .hamburger {
    display: none;
    color: black;
    font-size: 22px;
}

.navbarContainer .navbarLeft .logo {
    font-size: 24px;
    color: #be185d;
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;
}

.navbarContainer .navbarCenter {
    flex: 5;
}

.navbarContainer .navbarCenter .searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.navbarContainer .navbarCenter .searchBar .searchIcon {
    font-size: 20px;
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}

.navbarContainer .navbarCenter .searchBar .searchInput {
    border: none;
    width: 90%;
    height: 30px;
}

.navbarContainer .navbarCenter .searchBar .searchInput:focus {
    outline: none;
}

.navbarContainer .navbarRight {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbarContainer .navbarRight .navbarLink {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

.navbarContainer .navbarRight .navbarIcons {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

.navbarContainer .navbarRight .navbarIcons .navbarIconItem {
    display: flex;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    color: #333333;
    ;
}

.navbarContainer .navbarRight .navbarIcons .navbarIconBadge {
    width: 16px;
    height: 16px;
    background-color: #ec448a;
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
}

.navbarContainer .navbarRight .navbarImg {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 15px;
}

.sideNavigation {
    position: fixed !important;
    ;
    height: 100vh;
    z-index: 999;
}

.navToggleSidebar {
    display: none;
    position: sticky;
    height: 100vh;
    bottom: 0;
}


.searchList {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5px;
    z-index: 1000;
    width: 400px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 10px 8px 0 rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 300px;
    overflow-y: scroll;
}
.searchItem{
    padding: 5px;
    background-color: rgba(192, 217, 255, 0.322);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    color: black;
}
.searchItemImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.searchItemName{
    font-weight: 500;
    padding-top: 5px;
    margin: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .navbarContainer .navbarLeft .hamburger {
        display: inline;
    }

    .navbarContainer .navbarLeft {
        flex: 2;
    }

    .navbarContainer .navbarLeft .logo {
        font-weight: 500;
    }

    .navbarContainer .navbarCenter {
        flex: 5;
    }

    .navbarContainer .navbarCenter .searchBar {
        width: 95%;
    }

    .navbarContainer .navbarCenter .searchBar .searchInput {
        width: 70%;
    }

    .navbarContainer .navbarRight .navbarImg {
        margin-right: 20px;
    }

    .navToggleSidebar {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .navbarContainer .navbarLeft {
        flex: 3;
    }

    .navbarContainer .navbarRight .navbarLink {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .navbarContainer {
        justify-content: space-between;
    }

    .navbarContainer .navbarLeft {
        flex: 2;
    }

    .hamburger{
        margin-left: 5px;
    }

    .navbarContainer .navbarLeft .logo {
        font-size: 20px;
    }

    .navbarContainer .navbarCenter {
        flex: 2;
    }

    .navbarContainer .navbarRight {
        flex: 0;
    }

    .navbarContainer .navbarRight a {
        display: none;
    }
}
