.profileRightBar {
    flex: 3.5;
    padding: 0 20px 0 0;
}

.profileRightBar .profileRightBarHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.profileRightBar .profileRightBarHeading .profileRightBarTitle {
    font-size: 18px;
    font-weight: 500;
}

.profileRightBar .profileRightBarHeading .editButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #011631;
    color: white;
    cursor: pointer;
}

.profileRightBar .profileRightBarInfo {
    margin-bottom: 30px;
}

.profileRightBar .profileRightBarInfo .profileRightBarInfoItem {
    margin-bottom: 10px;
}

.profileRightBar .profileRightBarInfo .profileRightBarInfoItem .profileRightBarInfoKey {
    font-weight: 500;
    margin-right: 20px;
}

.profileRightBar .profileRightBarInfo .profileRightBarInfoItem .profileRightBarInfoValue {
    font-weight: 300;
}

.profileRightBar .profileRightBarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.profileRightBar .profileRightBarFollowings .profileRightBarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.profileRightBar .profileRightBarFollowings .profileRightBarFollowing .profileRightBarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.profileRightBar .profileRightBarFollowings .profileRightBarFollowing .profileRightBarFollowingName {
    align-self: center;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .profileRightBar {
        display: none;
    }
}