.profileRightBar {
    flex: 3.5;
    padding: 0 20px 0 0;
}

.profileRightBar .profileRightBarHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.profileRightBar .profileRightBarHeading .profileRightBarTitle {
    font-size: 18px;
    font-weight: 500;
}

.profileRightBar .profileRightBarPhotos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profileRightBar .profileRightBarPhotos .profileRightBarPhoto {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.profileRightBar .profileRightBarPhotos .profileRightBarPhoto .profileRightBarPhotoImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .profileRightBar {
        display: none;
    }
}