.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow-y: scroll;
}
.sidebar .sidebarWrapper {
    padding: 20px;
    margin-top: 50px;
}
.sidebar .sidebarWrapper .sidebarButton {
    background-color: #011631;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 150px;
    border: none;
    cursor: pointer;
}
.sidebar .sidebarWrapper .sidebar-bottom .sidebarHr {
    margin-bottom: 10px;
}

.sidebar .sidebarWrapper .sidebar-bottom{
    position: absolute;
    bottom: 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
}
@media only screen and (max-width: 992px) {
    .sidebar {
        flex: 1;
   }
    .sidebar .sidebarWrapper {
        padding: 17px;
   }
    .sidebar .sidebarWrapper .sidebarButton {
        display: none;
   }
    .sidebar .sidebarWrapper .sidebarHr {
        display: none;
   }
    ::-webkit-scrollbar {
        display: none;
   }
    ::-webkit-scrollbar-track {
        display: none;
   }
    ::-webkit-scrollbar-thumb {
        display: none;
   }
}
@media only screen and (max-width: 768px) {
    .sidebar {
        display: block;
   }
    .sidebar .sidebarWrapper {
        padding: 3px;
   }
}
@media only screen and (max-width: 576px) {
    .sidebar {
        display: none;
   }
}
