.rightbarhome .rightbarTitle {
    display: flex;
    margin-bottom: 20px;
}

.rightbarUserList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.UserDiv {
    display: flex;
    align-items: center;
    flex: 3;
}
.followBtn{
    flex: 1;
    background-color: #920b44;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    width: 150px;
    border: none;
    cursor: pointer;
}
.followBtn:hover {
    background-color: #be185d;
}

.PopupProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.PopupUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width: 992px){
    .PopupProfileImg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    .PopupUsername {
        font-size: 10px;
        font-weight: 400;
        margin: 0 8px;
    }
    .followBtn{
        font-weight: 400;
        width: 100px;
    }
}

@media only screen and (max-width: 859px) {
    .rightbarhome{
        display: none;
    }
}
