.post {
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.post .postWrapper {
    padding: 20px;
}
.post .postWrapper .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .postWrapper .postTop .postTopLeft {
    display: flex;
    align-items: center;
}
.post .postWrapper .postTop .postTopLeft .postProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.post .postWrapper .postTop .postTopLeft .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}
.post .postWrapper .postTop .postTopLeft .postDate {
    font-size: 14px;
}
.post .postWrapper .postTop .postTopRight .postVertButton {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}
.post .postWrapper .postCenter {
    margin: 20px 0;
}
.post .postWrapper .postCenter .postImg {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-top: 20px;
    cursor: pointer;
}
.post .postWrapper .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .postWrapper .postBottom .postBottomLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}
.post .postWrapper .postBottom .postBottomLeft .bottomLeftIcon {
    font-size: 30px;
    cursor: pointer;
}
.post .postWrapper .postBottom .postBottomLeft .postLikeCounter {
    font-size: 15px;
}
.post .postWrapper .postBottom .postBottomRight .postCommentText {
    font-size: 15px;
    cursor: pointer;
}
.post .postWrapper .footerHr {
    margin: 10px 0;
}
.post .postWrapper .postBottomFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .postWrapper .postBottomFooter .postBottomFooterItem {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.post .postWrapper .postBottomFooter .postBottomFooterItem .footerIcon {
    color: #333;
    font-size: 30px;
    margin-right: 10px;
}
.post .postWrapper .postBottomFooter .postBottomFooterItem .footerText {
    font-weight: 500;
}
.post .postWrapper .postBottomFooterItem:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
