.post {
    width: 100%;
    margin: 30px 0;
    border-radius: 7px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background-color: white;
}

.post .postWrapper .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.post .postWrapper .postTop .postTopLeft {
    display: flex;
    align-items: center;
}

.post .postWrapper .postTop .postTopLeft .postProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post .postWrapper .postTop .postTopLeft .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.post .postWrapper .postTop .postTopLeft .postDate {
    font-size: 14px;
}

.post .postWrapper .postCenter {
    margin: 10px 0;
    width: 100%;
}

.post .postWrapper .postCenter .postText {
    padding: 0 20px;
}

.sliderContainer {
    width: 100%;
}

.mySwiper {
    display: "flex";
    flex-direction: row;
}

.postImg {
    object-fit: contain !important;
    width: 100% !important;
    max-height: 500px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.post .postWrapper .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* padding-top: 0; */
}

.post .postWrapper .postBottom .postBottomLeft {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.post .postWrapper .postBottom .postBottomLeft .LikeComment {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post .postWrapper .postBottom .postBottomLeft .bottomLeftIcon {
    cursor: pointer;
}

.post .postWrapper .postBottom .postBottomLeft .postLikeCounter {
    font-size: 15px;
    cursor: pointer;
}

.post .postWrapper .postBottom .postBottomRight .postShareText {
    font-size: 15px;
    cursor: pointer;
}

.post .postWrapper .footerHr {
    margin: 10px 0;
}

.post .postWrapper .postBottomFooter {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    /* margin-bottom: 10px; */
}

.post .postWrapper .postBottomFooter .postBottomFooterItem {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    gap: 5px;
}

.post .postWrapper .postBottomFooter .postBottomFooterItem .commentProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post .postWrapper .postBottomFooter .postBottomFooterItem p {
    width: fit-content;
    background-color: rgb(238, 247, 255);
    padding: 6px 8px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
}

.post .postWrapper .postBottomFooter .postBottomFooterItem .footerIcon {
    color: #333;
    font-size: 30px;
    margin-right: 10px;
}

.post .postWrapper .postBottomFooter .postBottomFooterItem .footerText {
    font-weight: 500;
}

.post .postWrapper .postBottomFooter .addComment {
    width: 100%;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: rgb(238, 247, 255);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post .postWrapper .postBottomFooter .addComment input {
    border: none;
    width: 90%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(238, 247, 255);
    padding: 2px 6px;
}

.post .postWrapper .postBottomFooter .addComment input:focus {
    outline: none;
}

.post .postWrapper .postBottomFooter .addComment .sendIcon {
    font-size: 20px;
    margin-left: 10px;
    /* color: gray; */
    cursor: pointer;
}


.Link {
    text-decoration: none !important;
    text-align: center;
    justify-content: center;
    display: contents;
    color: black;
}

.post .postWrapper .postBottom .postBottomLeft .LikeComment .PopupDiv {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post .postWrapper .postBottom .postBottomLeft .LikeComment .PopupDiv .PopupProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post .postWrapper .postBottom .postBottomLeft .LikeComment .PopupDiv .PopupUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.update-delete-icons {
    padding: 0 10px;
}

.deleteIcon {
    cursor: pointer;
    font-size: 18px;
    margin: 5px 10px;
}

.editIcon {
    cursor: pointer;
    font-size: 18px;
    margin: 5px 10px;
}

.PopupContent {
    flex: 1;
    display: flex;
}

.commentFuncs {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 5px 0;
}

.PopupDetails {
    background-color: rgb(234, 242, 255);
    padding: 5px 10px;
    border-radius: 10px;
}

.CommentUsername {
    font-size: 14px;
    font-weight: 900;
    margin: 0 10px;
    cursor: pointer;
}

.CommentDesc {
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    right: 0;
}

.dropdown-element {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-element:hover {
    background-color: #f1f1f1;
}