.rightbar {
    flex: 3.5;
}
.rightbar .rightbarWrapper {
    padding: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 576px) {
    .rightbar {
        display: none;
   }
}
